body {
    margin: 0;
    font-family: Hevetica, sans-serif, sans-serif;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1px;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    width: 200px;
    cursor: pointer;
}

.header-nav a {
    margin-left : 0;
    padding-left: 0px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.header-icons {
    display: flex;
    align-items: left;
}

.icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.user-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar {
    width: 200px;
    background-color: #04101d;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    margin-top: 60px;
}

.sidebar h2 {
    color: #ffffff;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 35px 0;
    color: #ecf0f1;
    cursor: pointer;
}

.sidebar ul li:hover {
    color: #f9f509;
}

.main-content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 80px 20px 20px 20px;
    background-color: #ecf0f1;
    height: 100%;
}
